@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&display=swap");
.main {
  padding: 3rem 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header {
  padding-bottom: 20px;
}
.subtitle {
  text-transform: uppercase;
  font-weight: 200;
  padding-bottom: 20px;
}
.subtitle a {
  font-weight: 500;
}
.title {
  margin: 0 0 25px;
  line-height: 1.15;
  font-size: 4rem;
  font-family: Bodoni Moda, serif;
  font-weight: 500;
  color: #cb0c0b;

}
.description {
  font-weight: 200;
}
.heading {
  font-size: 2rem;
  font-family: Bodoni Moda, serif;
  color: #cb0c0b;
  text-transform: lowercase;
  width: 100%;
  text-align: left;
}
.list {
  width: 100%;
}
.listItem {
  display: flex;
  padding: 17px 0;
  border-bottom: 1px solid rgba(130, 130, 130, 0.15);
}
.showText {
  text-align: left;
  width: 100%;
}
.date {
  font-weight: 500;
}
.showType {
  font-weight: 100;
}
.ticketLink {
  color: white;
  background-color: black;
  border: none;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.icons {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}
.icons img {
  width: 18px;
}
.logo {
  width: 100px;
  display: block;
  padding-bottom: 15px;
}

@media (min-width: 720px) {
  .footer {
    position: unset;
    bottom: unset;
    padding: 4rem;
  }
  .main {
    padding: 4rem 4rem 0;
  }
  .list, .heading {
    max-width: 700px;
    margin: auto;
  }
}